<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<form method='Post'>
    <label for="agencyUrl">Agency URL</label>
    <input name="agencyUrl" id="agencyUrl" required>
    <label for="agencyUsername">Username</label>
    <input name="agencyUsername" id="agencyUsername">
    <label for="agencyPassword">Password</label>
    <input type="password" name="agencyPassword" id="agencyPassword">
    <input type="submit" value="Login">
</form>

</body>
</html>