#addGpu {
    display: block;
}

#customDockerImage {
    display: inline;
}
.list-group {
    display:inline-block;
}

select.form-control {
    width:auto !important;
}

input.form-control {
    width:auto !important;
}

#submain {
    margin-left: 40px;
}

#resultSection {
    margin: 40px;
}

nav {
    margin-bottom: 20px;
}

button.closeGpu {
    padding-top: 5px;
}

.close {
    margin-left: 20px;
    padding: 5px;
}

label {
    margin-right: 10px;
}
