#addGpu {
    display: block;
    margin-top: 5px;
    color: black;
}

/*
#addGpu:hover {
    color: blue;
}
*/

.no-break {
    display: inline-block;
}

#addExternalData {
    display: block;
    margin-top: 5px;
}

h3 {
    margin-top: 15px;
}

#customDockerImage {
    display: inline;
}
.list-group {
    display:inline-block;
}

select.form-control {
    width:auto !important;
}

input.form-control {
    width:auto !important;
}

#externalDataList {
    width: 550px;
}

#submain {
    margin-left: 40px;
    margin-bottom: 200px;
}

#resultSection {
    margin: 40px;
}

nav {
    margin-bottom: 0;
}

button.fixPadding {
    padding-top: 5px;
}

.close {
    margin-left: 20px;
    padding: 5px;
}

label {
    margin-right: 10px;
}

.alert {
    margin-bottom: 0;
}
